/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.container {
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  margin-top: 200px;
 }
 
 .speechBtn {
  /* display: flex; */
  align-items: right;
  justify-content: flex-end;
  padding: 10px 20px;
  margin: 20px 0;
  border: none;
  background-color: #2258eef8;
  color: white;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
  /*float: right;*/
 }
 
 .speechBtn:disabled {
  background-color: #888;
  cursor: not-allowed;
 }
 
 .speechBtn .react-icons {
  margin-left: 10px;
 }
 
 .form {
  display: flex;
  flex-direction: column;
  gap: 10px;
 }
 
 .form input {
  padding: 5px;
  margin-left: 5px;
 
 }
 .header {
  background-color: rgb(6, 93, 197);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 70px
}

.ribbon-grey {
  background-color: rgb(211, 211, 211);
  display: flex;
  height: 20px;
  justify-content: space-between;
  padding: 10px;
}

.ribbon-white {
  background-color: rgb(255, 255, 255);
  display: flex;
  height: 8px;
  justify-content: space-between;
  padding: 10px;
}

.styled-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.styled-table th {
  padding: 10px;
  border-bottom: 1px solid #dddddd;
}

.styled-table td {
  padding: 10px;
}

.btn {
  background-color: white;
  border: none;
  color: black;
  padding: 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: lightgray;
}

.displayTable {
  border-bottom: 1px solid #ddd;
}

.actionButton {
  margin-left: 1em;
  margin-top: 3em;
  padding-right: 18px;
  padding-left: 18px;
  padding-top: 4px;
  padding-bottom: 4px;
  opacity: 1;
  border: 1px solid rgb(38, 106, 171);
  background: rgb(51, 136, 221);
  border-radius: 4px;
  color: white;
  cursor: pointer;
  margin-right: 10px;
  font-size: 1.05em; 
  font-family: Frutiger LT;
}